.list {
    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 16px;
        &:before {
            content: "";
            background: url(../images/svg-sprite.svg) no-repeat -13px -1455px;
            width: 19px;
            height: 19px;
            position: absolute;
            left: 0;
            top: 3px;
        }
    }
    &.theme2 {
        li:before {
            background-position: -13px -1581px;
        }
    }
    &.theme3 {
        li:before {
            background-position: -13px -1516px;
        }
    }
    &.big-list {
        margin-bottom: -30px;
        li {
            font-size: 20px;
            margin-bottom: 30px;
            line-height: 1.6;
            &:before {
                top: 7px;
            }
            @include extra-small {
                font-size: 18px;
            }
        }
    }
}

.two-columns-list {
    display: flex;
    flex-wrap: wrap;
    > li {
        width: 50%;
        padding-right: 15px;
        @include extra-small {
            width: 100%;
            padding-right: 0;
        }
    }
}