## Default Git Ignore ##

*old
*bkp
*.sql
desktop.ini
db
*~
*.swp
*.mp4
*.mp3
*.flv
*.avi
error_log
LICENSE
INSTALL.txt
COPYRIGHT*
.env
/vendor/
/cache/
/session/
/sessions/
sess_*
/node_modules
Homestead.yaml
Homestead.json
/nbproject/
/nbproject/*
*.fdf

