$theme-color: #326ff9;
$theme-color2: #26cb6d;
$theme-color3: #ff7c3f;
$theme-color-light: #319bf3;
$light-gray: #a4a8b1;
$success-color: #00bf00;
$FontStack: Montserrat, sans-serif;
$body-color: #2b3e51;
$text-color: #4a4a4a;
$form-border-color: #eaebed;
$error-color: #e11717;